@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import "cropperjs/dist/cropper.css";


.theme-clr {
    color: blue;
}

.theme-bg {
    background-color: #003263;
}

html {
    font-family: 'Merriweather', serif;
}